@font-face {
    font-family: 'Didot'; 
    src: url(https://cdn.tracksmith.com/assets/331FE8_0_0.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Saint Colombe'; 
    src: url(https://www.tracksmith.com/fonts/saintecolombeweb-light.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Saint Colombe'; 
    src: url(https://www.tracksmith.com/fonts/saintecolombeweb-lightitalic.woff);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
@font-face {
    font-family: 'Sainte Colombe Tracksmith'; 
    src: url(https://www.datocms-assets.com/24486/1649363131-saintecolombeweb-light-1.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Sainte Colombe Tracksmith'; 
    src: url(https://www.datocms-assets.com/24486/1649364171-saintecolombeweb-lightitalic-1.woff);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

* {
     font-family: 'Saint Colombe', 'Sainte Colombe Tracksmith', Helvetica, sans-serif;
}

h1 {
  font-weight: 300;
  line-height: 64px;
  size: 48px;
  font-family: 'Saint Colombe', 'Sainte Colombe Tracksmith', Helvetica, sans-serif;
  text-align: center;
}

.heading {
  text-align: center;
  margin-bottom: 5px;
}

.list {
display: flex;
flex-direction: row;
flex: 1 1 1;
gap: 40px;
justify-content: space-evenly;
}


.text {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  size: 19px;
  font-family: 'Saint Colombe', 'Sainte Colombe Tracksmith', Helvetica, sans-serif;
  margin: 10px;
  gap: 20px;
  padding: 10px;
  width: 600px;
  height: 200px;
  margin-bottom: 20px;
}

.info{
display: flex;
flex-direction: column;
justify-content: center;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
   height: 80px;
  width: 120px;
}

.title {
  display: flex;
 justify-content: center;
 margin-bottom: 32px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 52px;
}


.content{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.picture.center {
    text-align: center;
    height:500px;
    width:700px;
    
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.center{
    text-align: center;
}

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%)
    color: white;

  }

