


* {
    font-family: Helvetica, sans-serif;
}


.picture.center {
    text-align: center;
    height:500px;
    width:700px;
    
}

.logo{
    height: 100px;
    width:240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.center{
    text-align: center;
}

.navigation {
    margin-right: 30px;
    margin-left: 30px;
}

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%)
    color: white;

  }