@font-face {
    font-family: 'Didot'; 
    src: url(https://cdn.tracksmith.com/assets/331FE8_0_0.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Saint Colombe'; 
    src: url(https://www.tracksmith.com/fonts/saintecolombeweb-light.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Saint Colombe'; 
    src: url(https://www.tracksmith.com/fonts/saintecolombeweb-lightitalic.woff);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
@font-face {
    font-family: 'Sainte Colombe Tracksmith'; 
    src: url(https://www.datocms-assets.com/24486/1649363131-saintecolombeweb-light-1.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Sainte Colombe Tracksmith'; 
    src: url(https://www.datocms-assets.com/24486/1649364171-saintecolombeweb-lightitalic-1.woff);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

* {
     font-family: 'Saint Colombe', 'Sainte Colombe Tracksmith', Helvetica, sans-serif;
}

h1 {
  font-weight: 300;
  line-height: 64px;
  size: 48px;
  font-family: 'Saint Colombe', 'Sainte Colombe Tracksmith', Helvetica, sans-serif;
}



p {
  font-weight: 400;
  size: 19px;
  line-height: 32px;
  font-family: 'Saint Colombe', 'Sainte Colombe Tracksmith', Helvetica, sans-serif;
  width: 900px;
}


.content{
    margin-left: 100px;
    margin-right: 100px;
}

.picture.center {
    text-align: center;
    height:500px;
    width:700px;
    
}

.logo{
    height: 100px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.center{
    text-align: center;
}

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%)
    color: white;

  }

